.hero {
  background: url('https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
    no-repeat center/cover;
  width: 100%;
  height: 31.25em;

  display: flex;

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: 100%;
    max-width: 43.75em;
    margin: auto;
    margin-top: 10%;
    padding: 0.375em 0.9em;
    background-color: rgba(247, 247, 247, 0.9);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 24px;
    border-radius: 1.56em;

    @media screen and (max-width: 720px) {
      flex-wrap: wrap;
    }

    & label {
      font-size: 1rem;
      padding-bottom: 0.125em;
    }
  }

  &__text,
  &__initial-date,
  &__final-date {
    display: flex;
    flex-direction: column;
  }

  &__initial-date,
  &__final-date {
    border-left: 1px solid hsl(0, 0%, 20%);
    padding-left: 0.375em;
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  &__btn {
    display: none;

    @media screen and (max-width: 720px) {
      display: block;
      background-color: hsl(249, 96%, 61%);
      color: hsl(0, 0%, 100%);
      width: 100%;
      font-weight: 600;
      font-size: 1rem;
      border: none;
      padding: 0.75em;
      margin: 0.5em;
      cursor: pointer;
      border-radius: 0.5em;
    }

    &:hover {
      background-color: #4733b7;
      transition: background-color 1s;
    }
  }

  &__icon {
    @media screen and (max-width: 720px) {
      display: none;
    }
  }

  & input {
    background-color: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
  }

  & input:focus {
    outline: none;
  }

  & input[type='text'] {
    width: 300px;
    font-size: 1rem;
  }
}
